:root {
  --primary-color: #35A9F2;
  --primary-hover-color: #35A9F2;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;
}

html, body {
  margin: 0;
  padding:0;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a, a:hover , a:active, a:focus {
  text-decoration: none;
}